#flex-container {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 15px;
    border-radius: 20px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}